{% extends "base.html" %}

{% block title %}GramamBox{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h1>
            Drop it.<br>
            Share it.<br>
            Forget it.
        </h1>

        <p>
            Upload a video, share the link,
            and let it disappear after 24 hours.
        </p>

        <a href="/upload" class="primary-btn">
            Upload a video
        </a>

    </div>

</section>

{% endblock %}