<!DOCTYPE html>
<html>
<head>
    <title>My Videos</title>
</head>

<body>

<h1>My Videos</h1>

{% for video in videos %}

<div>

    <img
        src="/thumbnail/{{ video.thumbnail }}"
        width="250"
        alt="Video thumbnail"
    >

    <h3>{{ video.original_filename }}</h3>

    <p>
        Uploaded: {{ video.uploaded_at }}
    </p>

    <p>
        Share Link:
        <a href="{{ request.base_url }}v/{{ video.stored_filename }}">
            {{ request.base_url }}v/{{ video.stored_filename }}
        </a>
    </p>

</div>

<hr>

{% endfor %}

</body>
</html>